<div class="modal-header">
    <h5 class="modal-title">Результаты поиска для "{{ query }}"</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="mt-3">
        <h4>Страны</h4>
        {% if countries %}
            <ul class="list-group">
                {% for country in countries %}
                    <li class="list-group-item">{{ country.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>По вашему запросу страны не найдены.</p>
        {% endif %}
    </div>

    <div class="mt-3">
        <h4>Сезоны</h4>
        {% if seasons %}
            <ul class="list-group">
                {% for season in seasons %}
                    <li class="list-group-item">{{ season.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>По вашему запросу сезоны не найдены.</p>
        {% endif %}
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
</div>
