/* Эффекты при наведении на кнопки и карточки */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #28a745;
    transform: scale(1.01);
    border: 1px solid #218838;
    transition: all 0.1s ease;
}

.btn-primary {
    background-color: #4CAF50; /* Зеленый для кнопок */
    border: none;
}

.btn-primary:hover {
    background-color: #45a049;
}

/* Эффекты модальных окон */
.modal.fade .modal-dialog {
    transform: translate(0, -50%);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal.show .modal-dialog {
    opacity: 1;
    transform: translate(0, 0);
}

.modal-header {
    background-color: #007bff;
    color: white;
}

.modal-body {
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Отступы для мобильных устройств */
@media (max-width: 767px) {
    .card {
        margin-bottom: 20px;
        transform: scale(1);
    }
}
